nav {
  position: absolute;
  padding: 20px 0 35px;
  width: 100%;
  z-index: 500; 
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin-right: 15px;
    a {
      text-decoration: none;
    }
    &.active a {
      color: red;
    }
  } 
}